<button class="btn btn-primary" tooltip="This is a simpe tooltip 1">Button</button>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra dolor nunc, ullamcorper tempor lacus dictum pulvinar.
Nullam ut elit velit. Etiam in maximus leo. Sed faucibus aliquet aliquet. Duis ut libero pretium, mollis nunc at, fringilla
odio. Etiam vel ornare ante. Vivamus nec urna ornare, efficitur urna sit amet, pellentesque magna. Integer sed dictum elit,
ullamcorper ornare nibh. Praesent tempor nulla at elit posuere, non ornare dolor fermentum. Praesent rhoncus ultricies felis,
vitae cursus odio suscipit quis. Vestibulum suscipit urna sem. Nunc mattis scelerisque egestas.</p>

<button class="btn btn-primary" tooltip="This is a simpe tooltip 2">Button 1</button>

<p>Aliquam id volutpat tortor, rhoncus pharetra felis. Integer dui justo, tincidunt ut euismod non, luctus at massa. Sed id
maximus sapien. Mauris vulputate dui ut libero lacinia, egestas consequat ante pellentesque. Phasellus eget nisl a lorem
ultrices consectetur id id est. Vestibulum ornare tincidunt magna, et accumsan quam sollicitudin ut. Morbi a vestibulum nisl,
non posuere urna. Phasellus non ante sit amet lorem fermentum finibus. Suspendisse volutpat nec dolor et placerat. Vestibulum
nec velit ac tortor imperdiet ornare.</p>

<p>Cras lorem nibh, tempor eget massa ut, luctus aliquet velit. Phasellus euismod augue quis augue iaculis pharetra faucibus
dapibus mi. Aliquam erat volutpat. Fusce fringilla est est, eu hendrerit nunc porttitor ut. Pellentesque lacus arcu, aliquam
volutpat feugiat a, ultrices quis diam. In commodo quis enim sed sodales. Aenean id mollis arcu. Nulla aliquet dolor quam,
non mattis sem volutpat vel. Nulla sit amet erat eget libero luctus tristique quis non ipsum.</p>


<p>Quisque quam nisi, commodo eu volutpat non, ultrices et nisi. Quisque ut est rhoncus, rutrum tellus iaculis, convallis tellus.
Fusce fermentum ex sit amet tortor sodales, ut pretium lacus posuere. Sed pellentesque fermentum tellus eu molestie. Pellentesque
vel massa mi. Nam hendrerit erat a magna consequat commodo. Aliquam id condimentum lectus, sit amet volutpat dolor.</p>

<p>Duis lorem massa, hendrerit ac mauris et, placerat sollicitudin lacus. Donec est eros, luctus scelerisque ipsum vitae, ultrices
volutpat nibh. Praesent odio dui, consectetur ac ornare id, ullamcorper ut nisl. Nunc pharetra tincidunt facilisis. Maecenas
et magna consectetur, egestas elit et, aliquet urna. Curabitur quis euismod velit, posuere porttitor enim. Aliquam vestibulum
auctor magna, sit amet faucibus est lacinia ac. Quisque laoreet enim a nibh gravida pulvinar. In hac habitasse platea dictumst.
Vivamus vitae metus placerat, elementum nulla quis, venenatis orci. Proin maximus est libero, et gravida ex finibus eget.
Sed at hendrerit lorem. Mauris metus risus, scelerisque et ornare a, blandit ac urna.</p>


<p>Aliquam id volutpat tortor, rhoncus pharetra felis. Integer dui justo, tincidunt ut euismod non, luctus at massa. Sed id
maximus sapien. Mauris vulputate dui ut libero lacinia, egestas consequat ante pellentesque. Phasellus eget nisl a lorem
ultrices consectetur id id est. Vestibulum ornare tincidunt magna, et accumsan quam sollicitudin ut. Morbi a vestibulum nisl,
non posuere urna. Phasellus non ante sit amet lorem fermentum finibus. Suspendisse volutpat nec dolor et placerat. Vestibulum
nec velit ac tortor imperdiet ornare.</p>

<p>Cras lorem nibh, tempor eget massa ut, luctus aliquet velit. Phasellus euismod augue quis augue iaculis pharetra faucibus
dapibus mi. Aliquam erat volutpat. Fusce fringilla est est, eu hendrerit nunc porttitor ut. Pellentesque lacus arcu, aliquam
volutpat feugiat a, ultrices quis diam. In commodo quis enim sed sodales. Aenean id mollis arcu. Nulla aliquet dolor quam,
non mattis sem volutpat vel. Nulla sit amet erat eget libero luctus tristique quis non ipsum.</p>

<p>Quisque quam nisi, commodo eu volutpat non, ultrices et nisi. Quisque ut est rhoncus, rutrum tellus iaculis, convallis tellus.
Fusce fermentum ex sit amet tortor sodales, ut pretium lacus posuere. Sed pellentesque fermentum tellus eu molestie. Pellentesque
vel massa mi. Nam hendrerit erat a magna consequat commodo. Aliquam id condimentum lectus, sit amet volutpat dolor.</p>


<p>Duis lorem massa, hendrerit ac mauris et, placerat sollicitudin lacus. Donec est eros, luctus scelerisque ipsum vitae, ultrices
volutpat nibh. Praesent odio dui, consectetur ac ornare id, ullamcorper ut nisl. Nunc pharetra tincidunt facilisis. Maecenas
et magna consectetur, egestas elit et, aliquet urna. Curabitur quis euismod velit, posuere porttitor enim. Aliquam vestibulum
auctor magna, sit amet faucibus est lacinia ac. Quisque laoreet enim a nibh gravida pulvinar. In hac habitasse platea dictumst.
Vivamus vitae metus placerat, elementum nulla quis, venenatis orci. Proin maximus est libero, et gravida ex finibus eget.
Sed at hendrerit lorem. Mauris metus risus, scelerisque et ornare a, blandit ac urna.</p>